<h1>Welcome to handlebars</h1>
<h2>{{uppercase pageHeading}}</h2>
{{#each users}}
<div>
  <img src="images/{{this.username}}_sm.jpg" alt="avatar">
  <a href="{{this.username}}">{{propercase this.name.first}} {{propercase this.name.last}}</a>
</div>
{{/each}}
